@charset "UTF-8";
/*Extend*/
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&family=Taviraj:wght@400;500;700&display=swap");
.main section .titulo, .main .titulo {
  margin-bottom: 25px;
  height: 120px;
  padding: 35px;
  color: darkgray;
  border-bottom: 2px #edaec9 solid;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  /* gradientes */
  background-image: radial-gradient(white 65%, darkgray); }

.main .terceraSeccion .boton, .main .boton, .main .content .formulario .boton {
  background-color: #e2d4da;
  color: dimgray;
  border: 0.5px darkgray solid;
  border-radius: 5px;
  width: 105px;
  height: 35px;
  padding: 3px;
  margin-bottom: 7px; }
  .main .boton:hover, .main .content .formulario .boton:hover {
    background-color: #edaec9; }

/*Mixins*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Domine', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Taviraj', serif;
  box-sizing: border-box; }

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto auto;
  grid-template-areas: "header" "main" "footer"; }

.wapp img {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 90px;
  right: 40px;
  background-color: #25d366;
  border-radius: 50px;
  text-align: center;
  z-index: 100; }

/* Estilos Header*/
.header {
  grid-area: header;
  position: sticky;
  top: 0;
  border-bottom: 2px #edaec9 solid;
  z-index: 100;
  height: 110px;
  /* gradientes */
  background-image: linear-gradient(white 85%, #f2c4d8); }
  .header .colorNav {
    background-color: white; }
  .header .logo {
    width: 90px;
    height: 70px; }
  .header .letraGrande {
    margin-left: 1.5rem;
    font-size: 20px; }
  .header .colorButton {
    background-color: #e2d4da;
    color: dimgray; }
    .header .colorButton:hover {
      background-color: #edaec9; }

/*Estilos Main Index*/
.main {
  grid-area: main;
  /* Estilo Banner */
  /* Estilo Primera Sección */
  /* Estilo Segunda Sección */
  /* Estilo Tercera Sección */
  /* Estilo Enlaces */ }
  .main .banner img {
    width: 100%; }
  .main section {
    /* Estilo título Principal */
    /* Estilo Imagenes */ }
    .main section .centrar {
      justify-content: space-between; }
      .main section .centrar .imgIndex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;
        margin-top: 30px; }
        .main section .centrar .imgIndex img {
          border-radius: 8px;
          margin-right: 10px;
          margin-left: 2px;
          margin-bottom: 10px;
          margin-top: 20px;
          border: 2px #edaec9 solid;
          /* tranformaciones animaciones */ }
          .main section .centrar .imgIndex img:hover {
            transform: translate(5px, 5px);
            transition: .3s; }
        .main section .centrar .imgIndex .subTitulo {
          margin-bottom: 5px;
          margin-top: 25px;
          font-weight: 200;
          line-height: 1.2;
          font-family: 'Taviraj', serif;
          font-size: 2rem;
          font-style: italic;
          text-align: center;
          color: darkgray; }
        .main section .centrar .imgIndex .textoJustificado {
          padding: 5px;
          text-align: justify;
          color: darkgray;
          font-style: oblique;
          bottom: 5px;
          top: 10px;
          line-height: 1.5;
          font-size: 18px; }
  .main .primeraSeccion {
    background-color: white;
    line-height: 1.5;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: darkgray;
    margin-top: 70px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f7e5f1; }
  .main .subTitulo {
    margin-top: 10px;
    margin-bottom: 0.5rem;
    padding: 10px;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Taviraj', serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: darkgray; }
  .main .segundaSeccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0px;
    background-color: white;
    line-height: 2;
    text-align: center;
    color: darkgray;
    font-size: 18px;
    font-weight: normal;
    font-style: italic; }
    .main .segundaSeccion .enLinea {
      margin: 20px 0px;
      width: 200px;
      height: 150px;
      margin: 20px 0px;
      padding: 10px; }
  .main .terceraSeccion {
    background-color: #f7e5f1;
    line-height: 2;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    color: darkgray;
    padding: 10px;
    margin: 10px;
    margin-top: 100px;
    font-size: 18px; }
    .main .terceraSeccion .input {
      border: 0.5px darkgray solid;
      width: 270px;
      height: 45px;
      padding: 8px; }
  .main .enlaces {
    display: flex;
    flex-direction: column;
    margin: 10px; }
    .main .enlaces .sinDecorar {
      text-decoration: none;
      color: darkgray;
      font-size: 20px;
      font-weight: bold; }

/* Media Querys */
/* Estrategia Mobile Last */
@media (max-width: 320px) {
  .main section .centrar .imgIndex .subTitulo {
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: 200;
    line-height: 1.2;
    font-family: 'Taviraj', serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    color: darkgray; }
  .main section .centrar .imgIndex .textoJustificado {
    padding: 15px;
    text-align: justify;
    color: darkgray;
    font-style: oblique;
    bottom: 5px;
    top: 5px;
    line-height: 1.5;
    font-size: 16px; } }

/*Estilos Main Sobre Nosotros*/
.main {
  grid-area: main;
  /* Estilo título Principal */ }
  .main .principal {
    /*Estilo Imagenes y Texto */ }
    .main .principal .imgTex {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-bottom: 12vh;
      margin-top: 50px; }
      .main .principal .imgTex .estiloImg {
        border-radius: 40px;
        margin: 20px;
        padding: 20px;
        width: 500px;
        height: 400px; }
      .main .principal .imgTex .estiloTexto {
        padding-right: 20px;
        margin: 25px;
        padding-top: 40px;
        width: 550px;
        height: 315px;
        text-align: justify;
        color: darkgray;
        font-style: italic;
        line-height: 1.5;
        font-size: 18px; }

.card .iframeVideo {
  padding: 20px;
  height: 70vh;
  position: relative;
  right: 5px; }

/* Media Querys */
/* Estrategia Mobile Last */
@media (max-width: 735px) {
  .main .principal .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px; }
    .main .principal .imgTex .estiloImg {
      width: 450px;
      height: 430px;
      margin: 5px; } }

@media (max-width: 650px) {
  .main .principal .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px; }
    .main .principal .imgTex .estiloImg {
      width: 430px;
      height: 410px;
      margin: 5px; }
    .main .principal .imgTex .estiloTexto {
      font-size: 18px;
      margin-top: 5px;
      padding: 25px; } }

@media (max-width: 482px) {
  .main .principal .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px; }
    .main .principal .imgTex .estiloImg {
      width: 410px;
      height: 390px;
      margin: 5px; }
    .main .principal .imgTex .estiloTexto {
      font-size: 16px;
      margin-bottom: 25px; } }

@media (max-width: 435px) {
  .main .principal .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px; }
    .main .principal .imgTex .estiloImg {
      width: 390px;
      height: 370px;
      margin: 5px; } }

@media (max-width: 380px) {
  .main .principal .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px; }
    .main .principal .imgTex .estiloImg {
      width: 330px;
      height: 310px;
      margin: 5px; }
    .main .principal .imgTex .estiloTexto {
      font-size: 14px;
      margin-bottom: 180px;
      margin-top: 5px;
      height: 100px;
      padding: 25px; } }

@media (max-width: 320px) {
  .main .principal .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px; }
    .main .principal .imgTex .estiloImg {
      width: 100%; }
    .main .principal .imgTex .estiloTexto {
      font-size: 14px;
      margin-bottom: 170px;
      height: 100px;
      padding: 25px; }
  .footer .textoChico p {
    font-size: 12px;
    color: black;
    position: relative;
    margin-left: 10px; } }

.main {
  grid-area: main;
  /* Estilo título Principal */
  /* Estilo Imagenes */ }
  .main .imgDestacadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; }
    .main .imgDestacadas img {
      width: 280px;
      height: 260px;
      border-radius: 8px;
      margin: 20px;
      margin-bottom: 20px;
      margin-top: 50px;
      border: 2px #edaec9 solid;
      box-shadow: 0px 10px 10px #b6b0b0;
      /* tranformaciones animaciones */ }
      .main .imgDestacadas img:hover {
        filter: opacity(80%);
        transition: .3s; }
  .main .textoCentrado {
    padding-top: 5px;
    width: 315px;
    text-align: center;
    color: #797575;
    font-style: italic;
    bottom: 20px;
    top: 20px;
    line-height: 1.5;
    font-size: 20px; }

/*Estilos Main Nuestros Locales*/
.main {
  grid-area: main;
  /* Estilo título Principal */
  /*Estilo Imagenes y Texto */ }
  .main .subTitulo {
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 5px;
    color: darkgray;
    text-align: center;
    font-style: italic;
    font-weight: normal; }
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 50px; }
    .main .imgTex .estiloImg {
      border-radius: 30px;
      margin: 15px;
      padding: 10px;
      width: 500px;
      height: 300px; }
    .main .imgTex .estiloTexto {
      padding: 50px;
      margin: 15px;
      width: 500px;
      height: 315px;
      text-align: justify;
      color: darkgray;
      font-style: italic;
      line-height: 1.5;
      font-size: 20px; }
    .main .imgTex .iframeMapas {
      margin: 90px;
      border-radius: 8px;
      justify-content: center;
      height: 300px;
      height: 280px;
      padding-left: 20px;
      padding-right: 20px; }

/* Media Querys */
/* Estrategia Mobile Last */
@media (max-width: 580px) {
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px; }
    .main .imgTex .estiloImg {
      width: 380;
      height: 360;
      margin: 5px; }
    .main .imgTex .estiloTexto {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1,5px; } }

@media (max-width: 550px) {
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px; }
    .main .imgTex .estiloImg {
      width: 380;
      height: 260;
      margin: 5px; }
    .main .imgTex .estiloTexto {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1,5px; } }

@media (max-width: 530px) {
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px; }
    .main .imgTex .estiloImg {
      width: 360;
      height: 340;
      margin: 5px; }
    .main .imgTex .estiloTexto {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1,5px; } }

@media (max-width: 494px) {
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px; }
    .main .imgTex .estiloImg {
      width: 360;
      height: 340;
      margin: 5px; }
    .main .imgTex .estiloTexto {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1,5px; } }

@media (max-width: 490px) {
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px; }
    .main .imgTex .estiloImg {
      width: 360px;
      height: 340px;
      margin: 5px; } }

@media (max-width: 434px) {
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px; }
    .main .imgTex .estiloImg {
      width: 320px;
      height: 300px;
      margin: 5px; } }

@media (max-width: 432px) {
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px; }
    .main .imgTex .estiloImg {
      width: 320px;
      height: 300px;
      margin: 5px; } }

@media (max-width: 380px) {
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px; }
    .main .imgTex .estiloImg {
      width: 300px;
      height: 280px;
      margin: 5px; }
    .main .imgTex .estiloTexto {
      font-size: 16px;
      margin-bottom: 15px;
      margin-top: 5px;
      height: 100px;
      padding: 10px; } }

@media (max-width: 320px) {
  .main .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px; }
    .main .imgTex .estiloImg {
      width: 280px;
      height: 260px; }
    .main .imgTex .estiloTexto {
      margin-right: 3px;
      margin-left: 3px;
      font-size: 16px;
      margin-top: 5px;
      width: 280px;
      height: 150px;
      padding: 20px; }
  .main .iframeMapas {
    margin: 80px;
    border-radius: 8px;
    justify-content: center;
    height: 280px;
    height: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .footer .textoChico p {
    font-size: 12px;
    color: black;
    position: relative;
    margin-left: 10px; } }

/*Estilos Main Contáctenos*/
.main {
  grid-area: main;
  /*Estilo Título*/
  /* Estilo Primera Sección*/ }
  .main .primeraSeccion {
    background-color: white;
    line-height: 1.5;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: darkgray;
    margin-top: 70px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px; }
  .main .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 12px;
    /* Estilo Formulario */
    /*Estilo Información de Contacto*/ }
    .main .content .formulario {
      padding: 15px;
      width: 340px;
      border-radius: 5px;
      font-size: 16px;
      color: #968e8e;
      text-align: left;
      font-style: normal;
      font-weight: lighter;
      line-height: 2;
      box-shadow: 0px 0px 10px 0px #968e8e; }
      .main .content .formulario .label {
        display: flex;
        flex-direction: column; }
      .main .content .formulario .input {
        border: 0.5px darkgray solid;
        width: 300px;
        height: 30px;
        padding: 8px; }
      .main .content .formulario .textarea {
        border-color: darkgray;
        width: 300px;
        height: 150px;
        padding: 8px; }
    .main .content .contacto {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      margin-top: 10px; }
    .main .content .primeraSeccion {
      background-color: white;
      line-height: 1.5;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
      color: darkgray;
      margin-top: 70px;
      margin-bottom: 80px;
      margin-left: 20px;
      margin-right: 20px; }

/* Media Querys */
/* Estrategia Mobile Last */
@media (max-width: 1024px) {
  .main .content {
    /*Estilo Información de Contacto*/ }
    .main .content .formulario {
      padding: 30px;
      width: 350px;
      border-radius: 5px;
      font-size: 14px;
      color: darkgray;
      text-align: left;
      font-style: normal;
      font-weight: lighter;
      line-height: 2; }
      .main .content .formulario .label {
        display: flex;
        flex-direction: column; }
      .main .content .formulario .input {
        border: 0.5px darkgray solid;
        width: 280px;
        height: 30px;
        padding: 8px; }
      .main .content .formulario .textarea {
        border-color: darkgray;
        width: 280px;
        height: 150px;
        padding: 8px; }
    .main .content .primeraSeccion {
      font-size: 14px; }
    .main .content .primeraSeccion {
      font-size: 14px; } }

@media (max-width: 380px) {
  .main div .imgTex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px; }
    .main div .imgTex .estiloImg {
      width: 270px;
      height: 260px;
      margin: 5px; }
    .main div .imgTex .estiloTexto {
      font-size: 15px;
      margin-bottom: 25px; } }

@media (max-width: 320px) {
  .main .content .formulario {
    padding: 30px;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;
    color: darkgray;
    text-align: left;
    font-style: normal;
    font-weight: lighter;
    line-height: 2; }
    .main .content .formulario .label {
      display: flex;
      flex-direction: column; }
    .main .content .formulario .input {
      border: 0.5px darkgray solid;
      width: 250px;
      height: 30px;
      padding: 8px; }
    .main .content .formulario .textarea {
      border-color: darkgray;
      width: 250px;
      height: 130px;
      padding: 8px; } }

/*Estilos Footer*/
.footer {
  grid-area: footer;
  border-top: 2px #e2d4da solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  /* gradientes */
  background-image: linear-gradient(to top, #edaec9, #e2d4da); }
  .footer .imgPago {
    width: 160px;
    height: 50px; }
  .footer .textoChico {
    font-size: 15px;
    color: black;
    position: relative;
    top: 10px;
    margin-left: 10px;
    margin-bottom: 5px; }
  .footer .imgRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px; }
    .footer .imgRedes img {
      width: 30px;
      margin: 10px; }
