/*Estilos Footer*/

.footer{
    grid-area: footer;
    border-top: 2px  rgb(226, 212, 218) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    /* gradientes */
    background-image: linear-gradient(to top,  rgb(237, 174, 201),rgb(226, 212, 218) ); 
    
    .imgPago{
        width: 160px;
        height: 50px;
        
    
    }
    .textoChico  {
        font-size: 15px;
        color: black;
        position: relative;
        top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        
    }

    .imgRedes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 30px;
        img{
            width: 30px;
            margin: 10px; 
        }
        
    }
   
}