/*Estilos Main Sobre Nosotros*/

.main{
    grid-area: main;

        
    /* Estilo título Principal */
    .titulo{
        @extend %estiloTitulo;
    }
    
    /*Estilo Imagenes y Texto */

    .imgTex  {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 50px;
        
        .estiloImg {

            
            width: 475px;
            height: 315px;
            margin: 25px;
            padding: 20px;
            /*position:relative;
            justify-content:left;
            top: 10px;*/
            }
        
        .estiloTexto {
        
                padding:20px;
                margin: 25px;
                    
                    width: 550px;
                    height: 315px;
                    
                    text-align:justify;
                    color: darkgray;
                    font-style: italic;   
                    
                    line-height: 1.5;
                    font-size: 20px;

            }
                
        }
                
            
        
        
        }
    
    
       
    /* Media Querys */
/* Estrategia Mobile Last */




@media(max-width: 435px) {
    .main{
        h1{
        div {
        .imgTex{
            display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 50px;
            .estiloImg {
                width: 120px;
                height: 100px;
                margin: 5px;
                
            }
        .estiloTexto {
            font-size: 15px;
            margin-bottom: 25px;
        }


}
}
}
}
}
@media(max-width: 380px) {
    .main{
        div {
        .imgTex{
            display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 50px;
            .estiloImg {
                width: 80px;
                height: 70px;
                margin: 5px;
                
            }
        .estiloTexto {
            font-size: 15px;
            margin-bottom: 25px;
        }


}
}
}
}

@media(max-width: 320px) {
    .main{
        div {
        .imgTex{
            display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 50px;
            .estiloImg {
                width: 30px;
                height: 40px;
                margin: 5px;
                
            }
        .estiloTexto {
            font-size: 15px;
            margin-bottom: 25px;
        }


}
}
}
}


