.main{
    grid-area: main;
        
    /* Estilo título Principal */
    .titulo{
        @extend %estiloTitulo;

    }
    /*.titulo {
        margin-bottom: 5px;
        height: 100px;
        padding: 25px;
        color: darkgray;
        border-bottom: 2px  rgb(237, 174, 201) solid;
        text-align: center;
        font-style: italic;
        font-weight: normal;*/
        /* gradientes */
       /* background-image: radial-gradient(white 65%,darkgray);*/
        /* transformaciones */
       /* animation-name: tituloCambiante;
        animation-duration: .8s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-timing-function: ease-in;
    }
    
    
    /* Estilo Imagenes */
    .imgDestacadas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        margin-bottom: 60px;
        img{
            width: 280px;
            height: 280px;
            border-radius: 8px;
            margin: 15px;
            margin-bottom: 70px;
            margin-top: 50px;
            border: 2px  rgb(237, 174, 201) solid;  
            /* tranformaciones animaciones */
            &:hover{
                transform:translate(5px, 5px);
                transition: .3s;
            } 
        }
    }

} 