.main{
    grid-area: main;
        
    /* Estilo título Principal */
    .titulo{
        @extend %estiloTitulo;
    } 
    
    /* Estilo Imagenes */
    .imgDestacadas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        margin-bottom: 60px;
        img{
            width: 280px;
            height: 280px;
            border-radius: 8px;
            margin: 15px;
            margin-bottom: 70px;
            margin-top: 50px;
            border: 2px  rgb(237, 174, 201) solid;  
            /* tranformaciones animaciones */
            &:hover{
                transform:translate(5px, 5px);
                transition: .3s;
            } 
        }
    }

} 