/*Estilos Main Nuestros Locales*/

.main{
    grid-area: main;
        
    /* Estilo título Principal */
    .titulo{
        @extend %estiloTitulo;
    }
    
    /*Estilo Imagenes y Texto */
    .tituloDos  {
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 5px;
        color: darkgray;
        text-align:left;
        font-style: italic;
        font-weight: normal
    }
    .imgTex {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-bottom: 10px;
        margin-top: 50px;
        .estiloImg {
            border-radius: 20px;
            border-color: aqua;
            margin: 25px;
            padding: 20px;
        }
    
        .estiloTexto {
            padding:50px;
            margin: 25px;
            width: 500px;
            height: 315px;
            text-align:justify;
            color: darkgray;
            font-style: italic;   
            line-height: 1.5;
            font-size: 20px;
        }
        .iframeMapas  {
            
            margin: 90px;
          border-radius: 8px;
            justify-content:center;
            height: 400px;
            padding-left: 20px;
            padding-right: 20px;
            
        }
    }     
}

/* Media Querys */
/* Estrategia Mobile Last */




@media(max-width: 435px) {
    .main{
    
        div {
       
            .estiloImg {
                width: 290px;
                height: 280px;
                margin: 5px;
                
            }
        .estiloTexto {
            font-size: 15px;
            margin-bottom: 25px;
            text-align: center;
                width: 290px;
                height: 280px;
            }
        }


}
}

@media(max-width: 380px) {
    .main{
        div {

            .estiloImg {
                width: 270px;
                height: 260px;
                margin: 5px;
                
            }
        .estiloTexto {
            font-size: 15px;
            margin-bottom: 25px;
            text-align: center;
                width: 270px;
                height: 260px;
            }
        }


}
}



@media(max-width: 320px) {
    .main{
        div {
            .estiloImg {
                width: 280px;
                height: 270px;
                margin: 5px;
                align-content: center;
                
            }
            .estiloTexto {
                font-size: 15px;
                margin-bottom: 25px;
                text-align: center;
                width: 280px;
                height: 270px;
            }


}
}
}
