/*Estilos Main Sobre Nosotros*/

.main{
    grid-area: main;

    /* Estilo título Principal */
    .titulo{
        @extend %estiloTitulo;
    }
    
    div{
        /*Estilo Imagenes y Texto */
        .imgTex  {
            display: flex;
            flex-direction: row;
            justify-content:space-evenly;
            flex-wrap: wrap;
            margin-bottom: 10px;
            margin-top: 50px;
        
            .estiloImg {
            
                
                border-radius: 40px;
                margin: 20px;
                padding: 20px;
            }
        
            .estiloTexto {
                padding:20px;
                margin: 25px;
                padding-top: 40px;
                width: 550px;
                height: 315px;
                text-align:justify;
                color: darkgray;
                font-style: italic;   
                line-height: 1.5;
                font-size: 20px;
            }
                
        }

    }
    
    .container {
        .iframeVideo {
        
            width: 1000px;
            height: 500px;
            margin: 40px;
            position: relative;
            left: 10px;
            justify-content: center;
            
            
    }
    

        
        
        
    }
    
        
}
      
    /* Media Querys */
/* Estrategia Mobile Last */


@media(max-width: 435px) {
    .main{
        h1{
        div {
        .imgTex{
            display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 50px;
            .estiloImg {
                width: 290px;
                height: 280px;
                margin: 5px;
                
            }
        .estiloTexto {
            font-size: 15px;
            margin-bottom: 25px;
        }


}
}
}
}
}
@media(max-width: 380px) {
    .main{
        div {
        .imgTex{
            display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 50px;
            .estiloImg {
                width: 270px;
                height: 260px;
                margin: 5px;
                
            }
        .estiloTexto {
            font-size: 15px;
            margin-bottom: 25px;
        }


}
}
}


}

@media(max-width: 320px) {
    .main{
        div {
        .imgTex{
            display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-bottom: 10px;
        margin-top: 10px;
            .estiloImg {
                width: 250px;
                height: 240px;
                
                
            }
        .estiloTexto {
            font-size: 15px;
            
            margin-top: 5px;
            height: 340px;
        }


}
}
}

    .footer{
        .textoChico  {
            p{
                font-size: 12px;
                color: black;
                position: relative;
                margin-left: 10px;
                
            }   
        }
    }
}



